.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card-container {
        display: flex;
        flex-direction: column;
        background-color: var(--card-primary);
        padding: 2rem;
        border-radius: 10px;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .app-name {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .sign-in-text {
            text-align: center;
            color: var(--text-smooth);
            font-size: 0.875rem;

            .highlight {
                color: var(--btn-primary);
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    color: var(--btn-secondary);
                }
            }
        }

        .line {
            margin-top: 1rem;
            height:1px;
            border-width:0;
            color:var(--text-smooth);
            background-color:var(--text-smooth)
        }

        .form {
            display: flex;
            flex-direction: column;

            .form-field {
                margin-top: 1rem;
                padding: 0.75rem;
            }

            .btn-margin {
                margin-top: 1.5rem;
            }

            .alert {
                color: var(--error);
                font-size: 0.75rem;
            }

            .password-req {
                margin-top: 0.5rem;
                color: var(--text-smooth);
                font-size: 0.75rem;
                list-style-type: none;
            }
        }
    }
}