<div class="container">
    <div class="profile-picture">
        <img src="{{ avatar }}" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <div class="section">
            <div class="total">{{ totalGames }}</div>
            <p>Jogos</p>
        </div>

        <div class="section">
            <div class="total">{{ totalWishlist }}</div>
            <p>Wishlist</p>
        </div>

        <div class="section">
            <div class="total">{{ totalFriends }}</div>
            <p>Amigos</p>
        </div>
    </div>
</div>